@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
  font-family: 'Open Sans', sans-serif;
  background-color: #F0EAD6;
}

h1 {
    color: #533317;
}

h2,h3,h4,h5,h6 {
  font-family: 'Open Sans', sans-serif;
  color: #774921;
}

p {
    font-family: 'Open Sans', sans-serif;
    color: #BE7535;
}

.container{
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
}

img {
    display: block;
    margin: auto;
    border: 5px solid #555;
    box-sizing: content-box;
}

#guessButton {
    background-color: #89CFF0;
    border-color: #89CFF0;
    border-width: thin;
    transition: background-color 0.5s;
    transition: border-width 0.5s;
}

#guessButton:hover {
    background-color: #0096FF;
}

#resetButton {
    background-color: #D22B2B;
    color: white;
    border-color: #D22B2B;
    border-width: thin;
    transition: background-color 0.5s;
}

#resetButton:hover {
    background-color: #800020;
}



a {
    color: #BE7535;
    padding:0% 1%;
}

a:hover {
    color: #533317;
    background-color: blue;
}

a:visited {
    color: #533317;
    text-decoration:line-through;
}   

ul {
    list-style-type: square;
    list-style-position: revert;
    color: blueviolet;
}


.feedback-animation {
    animation: fade-in 2s;
}

@keyframes fade-in {
    0% {
        background-color: opaque;
        
    }
    50% {
        background-color: #DAA520;
    }
    100% {
        background-color: opaque;
        
    }
}

.shake-animation {
    animation: shake 0.5s;
}

@keyframes shake {
    0% {
        transform: translate(0);
    }
    25% {
        transform: translate(-5px, 0);
    }
    50% {
        transform: translate(5px, 0);
    }
    75% {
        transform: translate(-5px, 0);
    }
    100% {
        transform: translate(5px, 0);
    }
}

@media screen and (min-width: 600px){
    .container{
        padding: 50px;
    }
}

@media screen and (max-width: 600px){
    .container{
        padding: 0;
    }
}